<div class="hero-container">
  <div class="hero-content">
    <h1 class="hero-title">{{ 'HERO.TITLE' | translate }}</h1>
    <p class="hero-slogan">{{ 'HERO.SLOGAN' | translate }}</p>

    <div class="hero-buttons">
      <button class="btn btn-primary btn-hero" routerLink="/events">{{ 'HERO.BUTTONS.EVENTS' | translate }}</button>
      <button class="btn btn-outline-light btn-hero" routerLink="/blogs">{{ 'HERO.BUTTONS.BLOGS' | translate }}</button>
    </div>
  </div>

  <!-- particles.js için konteyner - gif'in üzerine şeffaf katman oluşturacak -->
  <div id="particles-js" class="particles-container"></div>
</div>
