<div class="app-container">
  <app-nav></app-nav>
  <!-- GIF Arka Plan -->
  <div class="background-wrapper">
    <div class="gif-container">
      <img #backgroundGif [src]="gifPath" alt="Arka Plan" class="background-gif"
           [class.loaded]="isGifLoaded">
    </div>

    <!-- Yedek Arka Plan -->

    <!-- Overlay (Karartma katmanı) -->
    <div class="overlay"></div>
  </div>

  <!-- Ana İçerik (Navbar ve Router Outlet) -->
  <div class="content-container">
    <!-- Navbar Bileşeni -->
    <!-- Router Outlet -->
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<br>
<br>
<app-footer></app-footer>
